<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Action-sheet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Action-sheet</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
