<app-header title="Action Sheet"></app-header>
<ion-content class="ion-padding"  [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Action-sheet</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button  (click)="showActionSheet()" expand="block">
    Open Action Sheet
  </ion-button>
  <!-- <ion-action-sheet trigger="open-action-sheet" header="Acciones" [buttons]="actionSheetButtons"></ion-action-sheet> -->
</ion-content>
